$max-width: 1000px !default;
$min-width: 400px !default;
$section-hspace: 50px !default;

$heading-color: #333;
$body-color: #444;
$body-bg: white;
$line-color: #CCC;

$masthead-bg: #FBC71B;
$title-color: $heading-color;

$footer-bg: #CCC;


/* heading and paragraph spacing */

h2 {
	margin-top: 2em;
}

h2:first-child {
	margin-top: 0em;
}

h3 {
	margin-top: 1em;
}

p {
	margin-top: 0.715em;
}
	
p.postdate {
	margin-top: 0em;
	margin-bottom: 0;
}


/* general formatting */

img {
	max-width: 100%;
}

pre {
  	margin: .3em 0;
  	padding: .5em .7em;
  	background-color: darken($body-bg, 5%);
  	border: 1px solid $line-color;
	border-radius: 3px 3px 3px 3px;
 	overflow-x: auto;
}


/* layout */

.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.pagestrip {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto 0 auto;
	padding: 1em 2em;
	
}
