// -*- Mode: SCSS; tab-width: 4; indent-tabs-mode: true; c-basic-offset: 4 -*-

h3.juvia-comment-count-header {
	margin: 0.5em 0 1em 0;
}

.juvia-comment {
	min-height: 64px;
	border-top: $line-style;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.juvia-comment:last-child {
	border-bottom: $line-style;
};

.juvia-comment .juvia-metadata {
	position: relative;
	margin: 15px 0 0.75em 52px;
	padding: 0;

	font-family: $body-font;
	font-weight: bold;
	font-color: $body-color;
	line-height: 1.1em;
}

.juvia-comment .juvia-avatar {
	float: left;
	margin-top: -5px;
	margin-left: -50px;
}

.juvia-comment .juvia-author {
    font-size: 1.125em;
}

.juvia-comment .juvia-creation-date {
    font-size: 0.75em;
}

.juvia-comment .juvia-data {
	margin-left: 2px;
}

.juvia-comment-content,
.juvia-preview-content {
    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }
	blockquote {
		font-style: italic;
		border-left: lighten($body-color, 50%) 4px solid;
		margin: 0.5em 0.2em;
		padding: 0 0 0 0.5em;

		p {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}	
    pre {
	    background: darken($comments-bg, 5%);
		margin-left: 0.5em;
		margin-right: 0.5em;
    }
}

.juvia-comment h1,
.juvia-preview-content h1 {
	font-size: 125%;
}

.juvia-comment h2,
.juvia-preview-content h2 {
	font-size: 110%;
}

.juvia-comment h3,
.juvia-preview-content h3,
.juvia-comment h4,
.juvia-preview-content h4,
.juvia-comment h5,
.juvia-preview-content h5,
.juvia-comment h6,
.juvia-preview-content h6 {
	font-size: 100%;
}

.juvia-no-comments, .juvia-preview-empty, .juvia-moderating {
	font-family: $body-font;
	font-style: italic;
	color: lighten($body-color, 20%);
}

.juvia-reply-to-comment {
	font-size: 80%;
}

.juvia-field input {
	width: 20em;
}

.juvia-example-text {
	color: lighten($body-color, 30%);
}

.juvia-field .juvia-input,
.juvia-textarea-field {
	margin-bottom: 0.5em;
}

.juvia-help,
.juvia-help-content {
	font-family: $body-font;
	font-color: $body-color;
}

a.juvia-help {
	color: $link-color;
}

.juvia-help-content {
	position: absolute;
	font-size: 90%;
	line-height: 1.2em;
	width: 14em;
	border: solid 1px black;
	background: #ffffe0;
	border: solid 1px #ffddaa;
	padding: 8px;
	box-shadow: 3px 3px 5px #888;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
}

.juvia-textarea-field textarea {
	width: 99%;
	height: 15em;
	padding: 4px;
}

.juvia-form-actions .juvia-action {
	display: inline;
}

.juvia-form-actions .juvia-error {
	display: inline;
	color: red;
	margin-left: 1em;
}

.juvia-preview h4 {
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}

.juvia-preview-content {
	background: lighten($comments-bg, 2%);
	border-top: solid 2px #ffddaa;
	border-bottom: solid 2px #ffddaa;
	margin-bottom: 1em;
	padding: 4px;
}

.juvia-preview-content > *:first-child {
	margin-top: 0;
}

.juvia-preview-content > *:last-child {
	margin-bottom: 0;
}

.juvia-self-ad {
	display: none;
}



