/* main sections layout and formatting */

div#pagecontent {
	margin-top: 2em;
	margin-bottom: 2em;
}

section.content {
	@extend .bandcontent;

	h2 {
		padding-bottom: 4px;
		border-bottom: 1px solid $line-color;
	}
	p:first-child {
		margin-top: 0;
	}
	li {
		font-size: 100%;
		list-style-type: disc;
		margin-left: 1.8em;
		line-height: 1.8em;
	}
	li:first-child {
		margin-top: .8em;
	}
}

/* comment section */

div#pagecomments {
	background: $comments-bg;
}

section#comments {
	@extend .bandcontent
}


/* front-page special treatment */

div#frontcontent {
	margin-top: 2em;
}

div.teaserbox {
	float: left;
	margin: 0 $boxspacing 2em 0;
	width: $max-width / 3 - $boxspacing - 1;
}

h2 + article > h3:first-child, h2 + div > h3:first-child {
	margin-top: 0;
}


