/* main sections layout and formatting */

div#pagecontent {
	margin-top: 2em;
	margin-bottom: 2em;
}

section.content {
	@extend .bandcontent;

	h1 + p, p.byline + p {
		margin-top: 2em;
	}
	
	p.byline {
		margin-top: 0.3em;
		font-weight: bold;
	}

	h2 {
		padding-bottom: 4px;
		border-bottom: $line-style;
	}
	p:first-child {
		margin-top: 0;
	}
	li {
		font-size: 100%;
		list-style-type: disc;
		margin-left: 1.8em;
	}
	li:first-child {
		margin-top: .8em;
	}
	
	blockquote {
		:before {
			font-size: 2em;
			color: lighten($body-color, 20%);
			content: '\201C';
		}
		p {
			font-style: italic;
		}
	}
	
}

.narrow {
	p, ol, ul {
		width: 80ex;
	}
}

/* asides */

aside#vismeta {
	float: right;
	width: 320px;
	
	table {
		width: 100%;
		margin: 1em;
		font-size: 0.875em;
		background: $vismeta-bg;
	}
	
	td {
		border: $line-style;
		padding: 3px 10px 3px 5px;
		line-height: 1.1em;
	}
}


/* comment section */

div#pagecomments {
	background: $comments-bg;
}

section#comments {
	@extend .bandcontent
}


/* front-page special treatment */

div#frontcontent {
	margin-top: 2em;
}

table.hero {
	width: 100%;
	margin-bottom: .2em;
	
	td {
		padding: 0 20px 10px 0;
		vertical-align: top;
	}

	img {
		width: 100%;
		border: 2px solid $line-color;
	}
	
	img:hover {
			border: 2px solid $link-color;
		}

}

div.teaserbox {
	float: left;
	margin: 0 $boxspacing 2em 0;
	width: $max-width / 3 - $boxspacing - 1;
}

h2 + article > h3:first-child, h2 + div > h3:first-child {
	margin-top: 0;
}


