<!DOCTYPE html>

<html>
  <head>

		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

		<title>The Softvis Collection{% if page.title %} &middot; {{ page.title }}{% endif %}</title>

		<link type="text/css" rel="stylesheet" href="/assets/stylesheets/reset.css">
		<link type="text/css" rel="stylesheet" href="/assets/stylesheets/screen.css">
		<link type="text/css" rel="stylesheet" href="/assets/stylesheets/pygmentize.css">

		<!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="/assets/stylesheets/ie8-and-down.css" />
		<![endif]-->
					
		<script src="/assets/scripts/moment.min.js"></script>
		<script src="/assets/scripts/jquery-1.9.1.min.js"></script>

		<script>
		$(document).ready(function() {
		$('#navmenu-btn').click(function() {
		  $('li.textnav').toggle();
		})});
		</script>

	    <script type="text/javascript">
	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', 'UA-37784525-1']);
	      _gaq.push(['_trackPageview']);

	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	      })();
	    </script>

		{% unless page.nocomments %}
	    
	    <script type="text/javascript" class="juvia">
		(function() {
		    var options = {
		        container   : '#comments',
		        site_key    : 'bxvsh5w5myh66p064tqm1wl149a7zg8',
		        topic_key   : location.pathname,
		        topic_url   : location.href,
		        topic_title : document.title || location.href,
		        include_base: !window.Juvia,
		        include_css : false
		    };

		    function makeQueryString(options) {
		        var key, params = [];
		        for (key in options) {
		            params.push(
		                encodeURIComponent(key) +
		                '=' +
		                encodeURIComponent(options[key]));
		        }
		        return params.join('&');
		    }

		    function makeApiUrl(options) {
		        // Makes sure that each call generates a unique URL, otherwise
		        // the browser may not actually perform the request.
		        if (!('_juviaRequestCounter' in window)) {
		            window._juviaRequestCounter = 0;
		        }

		        var result =
		            'http://evening-eyrie-7286.herokuapp.com/api/show_topic.js' +
		            '?_c=' + window._juviaRequestCounter +
		            '&' + makeQueryString(options);
		        window._juviaRequestCounter++;
		        return result;
		    }

		    var s       = document.createElement('script');
		    s.async     = true;
		    s.type      = 'text/javascript';
		    s.className = 'juvia';
		    s.src       = makeApiUrl(options);
		    (document.getElementsByTagName('head')[0] ||
		     document.getElementsByTagName('body')[0]).appendChild(s);
		})();
		</script>

		{% endunless %}

		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  	
	</head>

  <body class="{{ page.layout }}">

		<div id="browserwarning" class="pageband">
			This website does not display correctly in older browsers such as Internet Explorer 8. Commenting may not work in older browsers. Sorry.
		</div>

		<div id="masthead" class="pageband">
			<header>
				<h1><a href="http://softvis.github.io">The Softvis Collection</a></h1>
				<h2>A collection of beautiful and useful software visualisations</h2>
			</header>
			<div id="navmenu-btn">≡</div>
			<nav>
				<ul>
					<li class="textnav"><a href="/">Home</a></li>
					<li class="textnav"><a href="/vis">Visualizations</a></li>
					<li class="textnav"><a href="/news">News</a></li>
					<li class="textnav"><a href="/about">About</a></li>
				</ul>
			</nav>
	 	</div>

		{{ content }}

		<div id="footernav" class="pageband">
			<nav>
				<div class="navblock">
					<h3>Site</h3>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/vis">Visualizations</a></li>
				  </ul>
				</div>
			</nav>
		</div>

		<div id="footercopy" class="pageband">
			<footer>
		  		<p class="copyright">Copyright &copy; 2012-2013 {{ site.author }} &middot; Site rendered with <a href="http://jekyllrb.com/">Jekyll</a> and <a href="http://sass-lang.com/">SASS</a> &middot; Comments powered by <a href="https://github.com/phusion/juvia">Juvia</a>
			</footer>
		</div>

  </body>
</html>
